@charset "UTF-8";

/* estilo para impressoras*/

*{
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;  /* para leitura em papel impresso um espaçamento entre linhas um pouco maior é interessante*/

}

menu {
    display: none; /* não faz sentido imprimir o menu */
}

article{
    width: 100%;
    text-align: justify;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com/';

}