@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #fcd9b9 40%, #d89e6c);
}

main {
    background-color: white;
    box-shadow: 5px 5px 10px #7a614c94;
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8a5c35;
    text-align: center;
    text-shadow: 2px 2px 3px #ac672794;
}

h2{
    color: #125189;
}

p {
    text-align: justify;

}